datetime
derived
level
logger
message
record
sender
simple
hostname
format-csv
format-json
format-prefix
format-sql
format-text
format-user
format-xml
format-zero
format-column
format-string
target-file
target-stream
target-syslog
target-http
target-smtp
target-memory
utils-uuid
utils-escape
memory-circular
memory-growing
memory-linear
